#selected {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

#selector {
    position: absolute;
    display: block;
    width: 0%;
    height: 0%;
    border: 2px dotted #4484f0;
    background-color: rgba(68, 132, 240, 0.3);
    z-index: 10005;
}

.blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#blocker-lower {
    background-color: #4484f0;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.08;
    z-index: 10000;
}

#blocker-upper {
    /* Events at 10002 */
    z-index: 10005;
}

#slidedown {
    position: absolute;
    z-index: 10002;
    left: 50%;
    width: auto;
    padding: 0px 30px;
    height: 70px;
    margin-left: -100px;
    top: -100px;
    transition: top 0.5s ease-in;

    font-family: "Google Sans", Roboto, Arial, sans-serif;
    letter-spacing: 0;
    font-size: 22px;
    color: #3c4043;
    opacity: 1;
    font-weight: 400;
    white-space: nowrap;
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.05), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.05), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.visible {
        top: 25px;
    }
}

.possible {
    /* https://codepen.io/P1N2O/pen/pyBNzX */

    animation: moveGradient 4s ease infinite;
}

@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}