* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    color: rgb(20, 20, 20);
}

#container {
    width: 100px;
    height: 20px;
    display: flex;
}

.select-active {
    background-color: rgba(68, 132, 240, 0.3);
}

.delete-active {
    transform: rotate(360deg);
    height: 100%;
}

#box-select:active {
    height: 100%;
}

.button {
    height: 100%;
    width: 50%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 1rem;
    transition: transform 2s ease-in-out, background-color 0.2s ease-out;
}

.button:hover {
    background-color: rgba(68, 132, 240, 0.2);
}

.button:active {
    height: 100%;
    fill: rgb(68, 132, 240);
}